@import '../../../../../assets/styles/variables.scss';

.main {
  height: calc(100dvh - 56px);

  & > div:nth-child(1) {
    height: calc(100% - 40px);
  }
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: $box-shadow2;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }
}

.box {
  height: calc(100% - 0.5rem - 24px - 36px);
  background-color: $smoke-white;
}

.group-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: $box-shadow2;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }
}
