@import '../../../../../assets/styles/variables.scss';

.image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid $smoke-white;

  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}
