.auth-background {
  width: 100dvw;
  min-height: 100dvh;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  form.login-form {
    width: 30rem;
  }

  form.signup-form {
    width: 42.5rem;
  }

  form {
    background-color: $white;
    padding: 2rem 3rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    .auth-logo img {
      width: 12.5rem;
    }

    .form-btn-group {
      display: flex;
      justify-content: center;
    }
  }
}
