@import '../../../../assets/styles/variables.scss';

.search-input {
  padding-left: calc(1.5 * 0.75rem + 14px);
  background-color: $smoke-white;
  border: none;
  border-radius: 50px;
  // box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  &:focus {
    box-shadow: none;
  }
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
