<app-page-loader [containerLoader]="commentsLoading" />

<div class="d-flex flex-column" style="gap: 7.5px;">
  @for (comment of comments; track $index)
  {
  <div class="d-flex flex-column">
    <div class="pointer" [routerLink]="['/profile', comment?.user?.id]">
      <img [src]="sharedService.getImage(comment?.user?.profileImage)" alt="User image" class="rounded-circle border" width="35" height="35" style="object-fit: contain;"/>
      <span class="ms-2">{{ comment?.user?.username }}</span>
    </div>

    <div [innerHtml]="comment?.message | formatText" class="py-2"></div>

    <div class="d-flex flex-row justify-content-between small border-bottom pb-2">
      <div>{{ comment?.createdOn | date: 'short' }}</div>
      <div>
        <span>
          <app-heart-icon [status]="comment?.isLiked" (click)="likeComment(comment?.id)"/>
          {{ comment?.likesCount || 0 }}
        </span>
        <span>
          <i class="fa-regular fa-comment-dots"></i>
          {{ comment?.repliesCount || 0 }}
        </span>
      </div>
    </div>
  </div>
  }
  @if (comments.length === 0)
  {
  <div class="text-center">No comments available.</div>
  }
</div>
