USE [master]
GO
/****** Object:  Database [SocialLink]    Script Date: 25/1/2026 22:57:46 ******/
CREATE DATABASE [SocialLink]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SocialMedia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SocialMedia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SocialMedia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SocialMedia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SocialLink].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SocialLink]
GO
/****** Object:  Schema [messaging]    Script Date: 25/1/2026 22:57:46 ******/
CREATE SCHEMA [messaging]
GO
/****** Object:  Schema [notification]    Script Date: 25/1/2026 22:57:46 ******/
CREATE SCHEMA [notification]
GO
/****** Object:  Schema [post]    Script Date: 25/1/2026 22:57:46 ******/
CREATE SCHEMA [post]
GO
/****** Object:  Schema [user]    Script Date: 25/1/2026 22:57:46 ******/
CREATE SCHEMA [user]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [messaging].[ChatGroup]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [messaging].[ChatGroup](
	[Id] [uniqueidentifier] NOT NULL,
	[LastMessageOn] [datetime2](7) NULL,
	[LastMessagePreview] [nvarchar](100) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[LastChangedBy] [uniqueidentifier] NOT NULL,
	[LastChangedOn] [datetime2](7) NOT NULL,
	[IsGroup] [bit] NULL,
	[Name] [nvarchar](20) NULL,
 CONSTRAINT [PK_ChatGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [messaging].[ChatGroupMedia]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [messaging].[ChatGroupMedia](
	[ChatGroupId] [uniqueidentifier] NOT NULL,
	[BlobId] [uniqueidentifier] NOT NULL,
	[Type] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[UploadedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChatGroupMedia] PRIMARY KEY CLUSTERED 
(
	[ChatGroupId] ASC,
	[BlobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [messaging].[ChatGroupUser]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [messaging].[ChatGroupUser](
	[ChatGroupId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[LastReadMessageId] [uniqueidentifier] NULL,
	[IsMuted] [bit] NOT NULL,
	[JoinedOn] [datetime2](7) NOT NULL,
	[LastChangedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChatGroupUser] PRIMARY KEY CLUSTERED 
(
	[ChatGroupId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [post].[Comment]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [post].[Comment](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PostId] [uniqueidentifier] NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[Message] [nvarchar](500) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[LastChangedBy] [uniqueidentifier] NOT NULL,
	[LastChangedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [post].[CommentLike]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [post].[CommentLike](
	[UserId] [uniqueidentifier] NOT NULL,
	[CommentId] [uniqueidentifier] NOT NULL,
	[LikedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CommentLike] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [post].[Post]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [post].[Post](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[AllowComments] [bit] NOT NULL,
	[IsArchived] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[LastChangedBy] [uniqueidentifier] NOT NULL,
	[LastChangedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [post].[PostLike]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [post].[PostLike](
	[UserId] [uniqueidentifier] NOT NULL,
	[PostId] [uniqueidentifier] NOT NULL,
	[LikedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PostLike] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [post].[PostMedia]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [post].[PostMedia](
	[PostId] [uniqueidentifier] NOT NULL,
	[BlobId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UploadedOn] [datetime2](7) NOT NULL,
	[Order] [int] NOT NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_PostMedia] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC,
	[BlobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [user].[NotificationPreference]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user].[NotificationPreference](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[NotificationTypeId] [int] NOT NULL,
	[IsMuted] [bit] NOT NULL,
 CONSTRAINT [PK_NotificationPreference] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [user].[User]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user].[User](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FullName]  AS (([FirstName]+' ')+[LastName]),
	[Username] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[GenderId] [int] NOT NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[IsPrivate] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[LastChangedBy] [uniqueidentifier] NOT NULL,
	[LastChangedOn] [datetime2](7) NOT NULL,
	[Biography] [nvarchar](150) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [user].[UserFollow]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user].[UserFollow](
	[FollowerId] [uniqueidentifier] NOT NULL,
	[FollowingId] [uniqueidentifier] NOT NULL,
	[FollowDate] [datetime2](7) NOT NULL,
	[IsPending] [bit] NOT NULL,
 CONSTRAINT [PK_UserFollow] PRIMARY KEY CLUSTERED 
(
	[FollowerId] ASC,
	[FollowingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [user].[UserLogin]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user].[UserLogin](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[LoggedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [user].[UserMedia]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user].[UserMedia](
	[UserId] [uniqueidentifier] NOT NULL,
	[BlobId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UploadedOn] [datetime2](7) NOT NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_UserMedia] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[BlobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [user].[UserRefreshToken]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user].[UserRefreshToken](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](200) NOT NULL,
	[TokenExpiresAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[LastChangedBy] [uniqueidentifier] NOT NULL,
	[LastChangedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserRefreshToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [user].[UserRole]    Script Date: 25/1/2026 22:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user].[UserRole](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250725195329_CREATE_User_UserRole_UserLogin', N'9.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250726130056_CREATE_UserFollow', N'9.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250726154840_CREATE_Notification', N'9.0.7')
GO
INSERT [messaging].[ChatGroup] ([Id], [LastMessageOn], [LastMessagePreview], [CreatedBy], [CreatedOn], [LastChangedBy], [LastChangedOn], [IsGroup], [Name]) VALUES (N'ff7cbf67-f651-4c42-9a89-68dfc9eebce9', CAST(N'2025-11-26T23:17:47.3791282' AS DateTime2), N'Voice message', N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', CAST(N'2025-11-14T19:42:06.9924977' AS DateTime2), N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', CAST(N'2025-11-26T23:17:47.4302617' AS DateTime2), NULL, NULL)
INSERT [messaging].[ChatGroup] ([Id], [LastMessageOn], [LastMessagePreview], [CreatedBy], [CreatedOn], [LastChangedBy], [LastChangedOn], [IsGroup], [Name]) VALUES (N'55c8747a-056a-4013-9dc5-ad86d6f46457', CAST(N'2025-11-19T21:16:52.8362537' AS DateTime2), N'шта има', N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', CAST(N'2025-11-19T20:27:14.7991391' AS DateTime2), N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', CAST(N'2025-11-19T21:16:52.8862575' AS DateTime2), 1, N'TwinZ')
GO
INSERT [messaging].[ChatGroupMedia] ([ChatGroupId], [BlobId], [Type], [IsActive], [UploadedOn]) VALUES (N'55c8747a-056a-4013-9dc5-ad86d6f46457', N'ee8e387e-2c87-4af0-930d-ee47f1c132d0', 300, 1, CAST(N'2025-11-19T20:27:14.7677985' AS DateTime2))
GO
INSERT [messaging].[ChatGroupUser] ([ChatGroupId], [UserId], [LastReadMessageId], [IsMuted], [JoinedOn], [LastChangedOn]) VALUES (N'ff7cbf67-f651-4c42-9a89-68dfc9eebce9', N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', N'9d5e44a8-8d11-4e6f-9f7e-c2de029f3650', 0, CAST(N'2025-11-14T19:42:06.8969121' AS DateTime2), CAST(N'2025-11-14T19:42:06.8969122' AS DateTime2))
INSERT [messaging].[ChatGroupUser] ([ChatGroupId], [UserId], [LastReadMessageId], [IsMuted], [JoinedOn], [LastChangedOn]) VALUES (N'ff7cbf67-f651-4c42-9a89-68dfc9eebce9', N'4b1a0114-f41e-43dc-802a-4dca96d167c6', N'7f6a8926-d47e-47fd-bd19-42334522cf93', 0, CAST(N'2025-11-14T19:42:06.8967599' AS DateTime2), CAST(N'2025-11-14T19:42:06.8968325' AS DateTime2))
INSERT [messaging].[ChatGroupUser] ([ChatGroupId], [UserId], [LastReadMessageId], [IsMuted], [JoinedOn], [LastChangedOn]) VALUES (N'55c8747a-056a-4013-9dc5-ad86d6f46457', N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', N'dab4264b-8dee-4c29-8839-4b87d78e9e69', 0, CAST(N'2025-11-19T20:27:14.6446824' AS DateTime2), CAST(N'2025-11-19T20:27:14.6447513' AS DateTime2))
GO
INSERT [post].[Comment] ([Id], [UserId], [PostId], [ParentId], [Message], [CreatedBy], [CreatedOn], [LastChangedBy], [LastChangedOn]) VALUES (N'fd2bc08c-1f60-473e-a735-d9dbf0e9d51a', N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', N'5510cf21-5ddb-4f9f-99b4-0ad2f3758150', NULL, N'Just wanted to mention that i live in Serbia.

Also I work only with professionals!', N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', CAST(N'2025-10-05T21:22:17.2156126' AS DateTime2), N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', CAST(N'2025-10-05T21:22:17.2156126' AS DateTime2))
GO
INSERT [post].[CommentLike] ([UserId], [CommentId], [LikedOn]) VALUES (N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', N'fd2bc08c-1f60-473e-a735-d9dbf0e9d51a', CAST(N'2025-10-15T17:47:29.7410825' AS DateTime2))
GO
INSERT [post].[Post] ([Id], [UserId], [Description], [AllowComments], [IsArchived], [CreatedBy], [CreatedOn], [LastChangedBy], [LastChangedOn]) VALUES (N'5510cf21-5ddb-4f9f-99b4-0ad2f3758150', N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', N'Hi everyone.

I just wanted to share one of my most popular photo taken.

For all business cooperation you can DM me. 😁', 1, 0, N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', CAST(N'2025-10-04T17:37:20.4193130' AS DateTime2), N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', CAST(N'2025-10-04T17:37:20.4193130' AS DateTime2))
GO
INSERT [post].[PostLike] ([UserId], [PostId], [LikedOn]) VALUES (N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', N'5510cf21-5ddb-4f9f-99b4-0ad2f3758150', CAST(N'2025-12-03T21:33:39.2640195' AS DateTime2))
INSERT [post].[PostLike] ([UserId], [PostId], [LikedOn]) VALUES (N'4b1a0114-f41e-43dc-802a-4dca96d167c6', N'5510cf21-5ddb-4f9f-99b4-0ad2f3758150', CAST(N'2025-10-05T20:07:03.0205139' AS DateTime2))
GO
INSERT [post].[PostMedia] ([PostId], [BlobId], [IsActive], [UploadedOn], [Order], [Type]) VALUES (N'5510cf21-5ddb-4f9f-99b4-0ad2f3758150', N'e9252bae-fedd-449e-b84e-d1bfc92942b1', 1, CAST(N'2025-10-04T17:37:20.4172595' AS DateTime2), 1, 200)
GO
INSERT [user].[NotificationPreference] ([Id], [UserId], [NotificationTypeId], [IsMuted]) VALUES (N'574fc5b4-1c0c-480e-a0c9-9ae964d86f7f', N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', 30, 1)
INSERT [user].[NotificationPreference] ([Id], [UserId], [NotificationTypeId], [IsMuted]) VALUES (N'aa88bfea-5919-48a4-8c79-9dd69d00d8a3', N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', 20, 0)
GO
INSERT [user].[UserFollow] ([FollowerId], [FollowingId], [FollowDate], [IsPending]) VALUES (N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', N'4b1a0114-f41e-43dc-802a-4dca96d167c6', CAST(N'2025-12-04T20:34:00.3847184' AS DateTime2), 0)
INSERT [user].[UserFollow] ([FollowerId], [FollowingId], [FollowDate], [IsPending]) VALUES (N'4b1a0114-f41e-43dc-802a-4dca96d167c6', N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', CAST(N'2025-12-04T20:34:32.9705615' AS DateTime2), 0)
GO
INSERT [user].[UserLogin] ([Id], [UserId], [LoggedOn]) VALUES (N'd75e90bb-e13a-40ea-95b2-00db4b815717', N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', CAST(N'2025-11-08T16:29:06.1427314' AS DateTime2))
INSERT [user].[UserLogin] ([Id], [UserId], [LoggedOn]) VALUES (N'07e3804f-8b77-4063-b023-0128b14fff8e', N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', CAST(N'2025-11-08T22:28:20.0588886' AS DateTime2))
INSERT [user].[UserLogin] ([Id], [UserId], [LoggedOn]) VALUES (N'317e08b0-09d9-492a-851c-0b0d920ff093', N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', CAST(N'2025-11-08T22:35:48.2367418' AS DateTime2))
GO
INSERT [user].[UserMedia] ([UserId], [BlobId], [IsActive], [UploadedOn], [Type]) VALUES (N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', N'93cba8dd-3fe5-4336-8ff1-ac59620d84a1', 1, CAST(N'2025-08-20T07:12:38.7166671' AS DateTime2), 100)
INSERT [user].[UserMedia] ([UserId], [BlobId], [IsActive], [UploadedOn], [Type]) VALUES (N'4b1a0114-f41e-43dc-802a-4dca96d167c6', N'036ea694-73a1-4839-8c67-82597e519995', 0, CAST(N'2025-09-14T11:47:14.8253278' AS DateTime2), 100)
INSERT [user].[UserMedia] ([UserId], [BlobId], [IsActive], [UploadedOn], [Type]) VALUES (N'4b1a0114-f41e-43dc-802a-4dca96d167c6', N'4702db35-e0a4-4638-9e9d-edb7765918da', 1, CAST(N'2025-09-14T12:15:06.1197833' AS DateTime2), 100)
GO
INSERT [user].[UserRefreshToken] ([Id], [UserId], [Token], [TokenExpiresAt], [CreatedBy], [CreatedOn], [LastChangedBy], [LastChangedOn]) VALUES (N'1d93ed1f-1677-4764-b1d9-46fe4cf53ecb', N'4b1a0114-f41e-43dc-802a-4dca96d167c6', N'x0bnSPqRVaEjIQhb5E6zTaSXnOZbp4ogu2YDPdMIsQzYLzPaCk9FHCZMWyHnUmKyjSebxDiEpBmv7JarDEt6OQ==', CAST(N'2025-12-11T21:02:03.6711898' AS DateTime2), N'00000000-0000-0000-0000-000000000001', CAST(N'2025-11-13T22:58:54.9219905' AS DateTime2), N'00000000-0000-0000-0000-000000000001', CAST(N'2025-12-04T21:02:03.6716144' AS DateTime2))
INSERT [user].[UserRefreshToken] ([Id], [UserId], [Token], [TokenExpiresAt], [CreatedBy], [CreatedOn], [LastChangedBy], [LastChangedOn]) VALUES (N'3f551e57-8f2d-4ae8-a6ae-db428cb2b92f', N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', N'Tax9ct+zQQZ/DzJMHQWTvN9OG7Hk8sFUwncOwIJZcgZP6twzQWprAQXeLDnXugCkFU0aGSHZJ1Ze2kMR79xv5A==', CAST(N'2025-12-11T21:07:55.4857518' AS DateTime2), N'00000000-0000-0000-0000-000000000001', CAST(N'2025-11-30T16:01:05.9550730' AS DateTime2), N'00000000-0000-0000-0000-000000000001', CAST(N'2025-12-04T21:07:55.4858433' AS DateTime2))
GO
INSERT [user].[UserRole] ([UserId], [RoleId]) VALUES (N'00000000-0000-0000-0000-000000000001', 1)
INSERT [user].[UserRole] ([UserId], [RoleId]) VALUES (N'9efdd210-37d1-4ba4-a9a4-14ce134054e2', 2)
INSERT [user].[UserRole] ([UserId], [RoleId]) VALUES (N'4b1a0114-f41e-43dc-802a-4dca96d167c6', 2)
GO
/****** Object:  Index [IX_ChatGroupMedia_ChatGroupId_Type_IsActive]    Script Date: 25/1/2026 22:57:46 ******/
CREATE NONCLUSTERED INDEX [IX_ChatGroupMedia_ChatGroupId_Type_IsActive] ON [messaging].[ChatGroupMedia]
(
	[ChatGroupId] ASC,
	[Type] ASC,
	[IsActive] ASC
)
INCLUDE([BlobId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatGroupUser_UserId]    Script Date: 25/1/2026 22:57:46 ******/
CREATE NONCLUSTERED INDEX [IX_ChatGroupUser_UserId] ON [messaging].[ChatGroupUser]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comment_ParentId]    Script Date: 25/1/2026 22:57:46 ******/
CREATE NONCLUSTERED INDEX [IX_Comment_ParentId] ON [post].[Comment]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comment_PostId]    Script Date: 25/1/2026 22:57:46 ******/
CREATE NONCLUSTERED INDEX [IX_Comment_PostId] ON [post].[Comment]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comment_UserId]    Script Date: 25/1/2026 22:57:46 ******/
CREATE NONCLUSTERED INDEX [IX_Comment_UserId] ON [post].[Comment]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentLike_CommentId]    Script Date: 25/1/2026 22:57:46 ******/
CREATE NONCLUSTERED INDEX [IX_CommentLike_CommentId] ON [post].[CommentLike]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Post_UserId]    Script Date: 25/1/2026 22:57:46 ******/
CREATE NONCLUSTERED INDEX [IX_Post_UserId] ON [post].[Post]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostLike_PostId]    Script Date: 25/1/2026 22:57:46 ******/
CREATE NONCLUSTERED INDEX [IX_PostLike_PostId] ON [post].[PostLike]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NotificationPreference_UserId]    Script Date: 25/1/2026 22:57:46 ******/
CREATE NONCLUSTERED INDEX [IX_NotificationPreference_UserId] ON [user].[NotificationPreference]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Email]    Script Date: 25/1/2026 22:57:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_Email] ON [user].[User]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Username]    Script Date: 25/1/2026 22:57:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_Username] ON [user].[User]
(
	[Username] ASC
)
WHERE ([Username] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserFollow_FollowingId]    Script Date: 25/1/2026 22:57:46 ******/
CREATE NONCLUSTERED INDEX [IX_UserFollow_FollowingId] ON [user].[UserFollow]
(
	[FollowingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserLogin_UserId]    Script Date: 25/1/2026 22:57:46 ******/
CREATE NONCLUSTERED INDEX [IX_UserLogin_UserId] ON [user].[UserLogin]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserMedia_UserId_Type_IsActive]    Script Date: 25/1/2026 22:57:46 ******/
CREATE NONCLUSTERED INDEX [IX_UserMedia_UserId_Type_IsActive] ON [user].[UserMedia]
(
	[UserId] ASC,
	[Type] ASC,
	[IsActive] ASC
)
INCLUDE([BlobId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserRefreshToken_Token]    Script Date: 25/1/2026 22:57:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserRefreshToken_Token] ON [user].[UserRefreshToken]
(
	[Token] ASC
)
WHERE ([Token] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRefreshToken_UserId]    Script Date: 25/1/2026 22:57:46 ******/
CREATE NONCLUSTERED INDEX [IX_UserRefreshToken_UserId] ON [user].[UserRefreshToken]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [post].[PostMedia] ADD  DEFAULT ((0)) FOR [Order]
GO
ALTER TABLE [user].[UserFollow] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsPending]
GO
ALTER TABLE [messaging].[ChatGroupMedia]  WITH CHECK ADD  CONSTRAINT [FK_ChatGroupMedia_ChatGroup_ChatGroupId] FOREIGN KEY([ChatGroupId])
REFERENCES [messaging].[ChatGroup] ([Id])
GO
ALTER TABLE [messaging].[ChatGroupMedia] CHECK CONSTRAINT [FK_ChatGroupMedia_ChatGroup_ChatGroupId]
GO
ALTER TABLE [messaging].[ChatGroupUser]  WITH CHECK ADD  CONSTRAINT [FK_ChatGroupUser_ChatGroup_ChatGroupId] FOREIGN KEY([ChatGroupId])
REFERENCES [messaging].[ChatGroup] ([Id])
GO
ALTER TABLE [messaging].[ChatGroupUser] CHECK CONSTRAINT [FK_ChatGroupUser_ChatGroup_ChatGroupId]
GO
ALTER TABLE [post].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Comment_ParentId] FOREIGN KEY([ParentId])
REFERENCES [post].[Comment] ([Id])
GO
ALTER TABLE [post].[Comment] CHECK CONSTRAINT [FK_Comment_Comment_ParentId]
GO
ALTER TABLE [post].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Post_PostId] FOREIGN KEY([PostId])
REFERENCES [post].[Post] ([Id])
GO
ALTER TABLE [post].[Comment] CHECK CONSTRAINT [FK_Comment_Post_PostId]
GO
ALTER TABLE [post].[CommentLike]  WITH CHECK ADD  CONSTRAINT [FK_CommentLike_Comment_CommentId] FOREIGN KEY([CommentId])
REFERENCES [post].[Comment] ([Id])
GO
ALTER TABLE [post].[CommentLike] CHECK CONSTRAINT [FK_CommentLike_Comment_CommentId]
GO
ALTER TABLE [post].[PostLike]  WITH CHECK ADD  CONSTRAINT [FK_PostLike_Post_PostId] FOREIGN KEY([PostId])
REFERENCES [post].[Post] ([Id])
GO
ALTER TABLE [post].[PostLike] CHECK CONSTRAINT [FK_PostLike_Post_PostId]
GO
ALTER TABLE [post].[PostMedia]  WITH CHECK ADD  CONSTRAINT [FK_PostMedia_Post_PostId] FOREIGN KEY([PostId])
REFERENCES [post].[Post] ([Id])
GO
ALTER TABLE [post].[PostMedia] CHECK CONSTRAINT [FK_PostMedia_Post_PostId]
GO
ALTER TABLE [user].[NotificationPreference]  WITH CHECK ADD  CONSTRAINT [FK_NotificationPreference_User_UserId] FOREIGN KEY([UserId])
REFERENCES [user].[User] ([Id])
GO
ALTER TABLE [user].[NotificationPreference] CHECK CONSTRAINT [FK_NotificationPreference_User_UserId]
GO
ALTER TABLE [user].[UserFollow]  WITH CHECK ADD  CONSTRAINT [FK_UserFollow_User_FollowerId] FOREIGN KEY([FollowerId])
REFERENCES [user].[User] ([Id])
GO
ALTER TABLE [user].[UserFollow] CHECK CONSTRAINT [FK_UserFollow_User_FollowerId]
GO
ALTER TABLE [user].[UserFollow]  WITH CHECK ADD  CONSTRAINT [FK_UserFollow_User_FollowingId] FOREIGN KEY([FollowingId])
REFERENCES [user].[User] ([Id])
GO
ALTER TABLE [user].[UserFollow] CHECK CONSTRAINT [FK_UserFollow_User_FollowingId]
GO
ALTER TABLE [user].[UserLogin]  WITH CHECK ADD  CONSTRAINT [FK_UserLogin_User_UserId] FOREIGN KEY([UserId])
REFERENCES [user].[User] ([Id])
GO
ALTER TABLE [user].[UserLogin] CHECK CONSTRAINT [FK_UserLogin_User_UserId]
GO
ALTER TABLE [user].[UserMedia]  WITH CHECK ADD  CONSTRAINT [FK_UserMedia_User_UserId] FOREIGN KEY([UserId])
REFERENCES [user].[User] ([Id])
GO
ALTER TABLE [user].[UserMedia] CHECK CONSTRAINT [FK_UserMedia_User_UserId]
GO
ALTER TABLE [user].[UserRefreshToken]  WITH CHECK ADD  CONSTRAINT [FK_UserRefreshToken_User_UserId] FOREIGN KEY([UserId])
REFERENCES [user].[User] ([Id])
GO
ALTER TABLE [user].[UserRefreshToken] CHECK CONSTRAINT [FK_UserRefreshToken_User_UserId]
GO
ALTER TABLE [user].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User_UserId] FOREIGN KEY([UserId])
REFERENCES [user].[User] ([Id])
GO
ALTER TABLE [user].[UserRole] CHECK CONSTRAINT [FK_UserRole_User_UserId]
GO
USE [master]
GO
