@if (isBigScreen || (!isConversationSelected && !isBigScreen))
{
<app-navigation />

<div class="messaging-main d-flex">
  <div class="inbox-pane col-12 col-lg-3 col-md-4 d-flex flex-column position-relative">
    <app-page-loader [containerLoader]="inboxLoading" />

    <div class="inbox-header">
      <h2>Messages</h2>
      <button class="btn-icon-soft" [routerLink]="['/create-group']" title="New group">
        <i class="fa-regular fa-pen-to-square"></i>
      </button>
    </div>

    <div class="inbox-search">
      <app-search (onSearch)="onSearch($event)" [placeholder]="'Search conversations'" />
    </div>

    <div class="inbox-list flex-grow-1 overflow-auto">
      @if (!searching)
      {
      @if (!!conversations && conversations.items!.length > 0)
      {
      @for (conversation of conversations.items; track $index)
      {
      <div class="convo-row anim-rise" [style.animation-delay]="($index * 25) + 'ms'" (click)="gotoConversation(conversation.id)">
        <div class="image convo-avatar" [class.is-online]="!conversation?.isGroup && presenceService.onlineUsersSignal().includes(conversation.user?.id!)">
          <img [src]="sharedService.getImage(conversation?.isGroup ? conversation.groupImageUrl : conversation.user?.profileImage)" alt="Conversation image" />
        </div>

        <div class="convo-body">
          <div class="convo-title-row">
            <span class="convo-title">{{ conversation?.isGroup ? conversation.name : conversation.user?.username }}</span>
            <span class="convo-time">{{ conversation.lastMessageOn | timeAgo }}</span>
          </div>
          <div class="convo-preview">
            {{ conversation.lastMessagePreview }}
          </div>
        </div>
      </div>
      }
      }
      @else if (!inboxLoading)
      {
      <div class="inbox-empty">
        <div class="empty-icon"><i class="fa-regular fa-comments"></i></div>
        <div class="empty-title">No conversations yet</div>
        <div class="empty-subtitle">Start a chat with someone you follow.</div>
      </div>
      }
      }
      @else
      {
      <app-users [keyword]="keyword()" [showPresence]="true" [onlyFollowing]="true" (onClick)="openConversation($event)" />
      }
    </div>
  </div>

  <div class="conversation-pane flex-grow-1">
    <router-outlet />
  </div>
</div>
}
@else
{
<div class="messaging-main d-flex">
  <div class="conversation-pane flex-grow-1">
    <router-outlet />
  </div>
</div>
}
