@import '../../../../../assets/styles/variables.scss';

.main {
  height: calc(100dvh - 56px);

  .header {
    background-color: $smoke-white;

    .image {
      width: 37.5px;
      height: 37.5px;
      border-radius: 50%;
      box-shadow: $box-shadow2;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  .recorded-audio-wrapper {
    padding: 1rem 1rem 0;
    background-color: $smoke-white;

    button {
      height: 38px;
      width: 38px;
      margin-left: 0.5rem;
    }
  }

  .footer {
    background-color: $smoke-white;
  }
}

@keyframes pulse-opacity {
  0%, 80%, 100% {
    opacity: 0.4;
  }

  40% {
    opacity: 1;
  }
}
