@import '../../../../../assets/styles/variables.scss';

.main {
  height: calc(100dvh - 56px);

  .header {
    background-color: $smoke-white;

    .image {
      width: 37.5px;
      height: 37.5px;
      border-radius: 50%;
      box-shadow: $box-shadow2;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  .body {

    .image {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid $smoke-white;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }

    .consecutive-image-space {
        margin-right: calc(30px + 0.5rem);
    }

    .message-box {
      max-width: 75%;

      .message {
        &.is-mine {
          background-color: $primary;
          color: $white;
        }

        &.is-others {
          background-color: $smoke-white;
        }
      }
    }
  }

  .footer {
    background-color: $smoke-white;
  }
}
