<app-navigation />

<div class="post-main d-flex flex-column flex-md-row">
  <div id="carouselContainer" class="post-carousel col-12 col-md-7">
    <div class="carousel-inner">
      @for (media of post?.media; track $index)
      {
      <div class="carousel-item" [ngClass]="{'active': activeCarouselMedia === $index}">
        <img [src]="media.url" alt="Post media" />
      </div>
      }
    </div>

    @if (post?.media && post?.media?.length! > 1)
    {
    @if (activeCarouselMedia !== 0)
    {
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselContainer" data-bs-slide="prev" (click)="previousMedia()">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    }
    @if (activeCarouselMedia !== post?.media?.length! - 1)
    {
    <button class="carousel-control-next" type="button" data-bs-target="#carouselContainer" data-bs-slide="next" (click)="nextMedia()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    }

    <div class="media-counter">
      {{ activeCarouselMedia + 1 }} / {{ post?.media?.length! }}
    </div>

    <div class="media-dots">
      @for (m of post?.media; track $index)
      {
      <span [class.active]="activeCarouselMedia === $index"></span>
      }
    </div>
    }
  </div>

  <div class="post-side col-12 col-md-5 d-flex flex-column">
    <div class="post-side-scroll flex-grow-1 overflow-auto">
      <div class="post-description" [innerHtml]="post?.description | formatText"></div>

      <div class="post-meta">
        <button class="action-btn like-btn" [class.is-liked]="post?.isLiked" (click)="likePost()">
          <app-heart-icon [status]="post?.isLiked" />
          <span>
            @if (post?.isLiked && post?.likesCount === 2) { You and 1 other }
            @else if (post?.isLiked && post?.likesCount! > 2) { You and {{ post?.likesCount! - 1 }} others }
            @else if (post?.isLiked) { You }
            @else if (post?.likesCount === 1) { 1 person }
            @else if (post?.likesCount! > 1) { {{ post?.likesCount }} people }
            @else { 0 likes }
            @if (post?.likesCount! > 0 || post?.isLiked) { liked this }
          </span>
        </button>
        <span class="comment-count">
          <i class="fa-regular fa-comment"></i> {{ post?.commentsCount }} Comment@if (post?.commentsCount! > 1){s}
        </span>
      </div>

      <div class="post-comments">
        <app-comments [postId]="postId"/>
      </div>
    </div>

    @if (post?.allowComments)
    {
    <div class="post-input-wrap">
      <app-message-input (submit)="createComment($event)" [placeholder]="'Type a comment'"/>
    </div>
    }
  </div>
</div>
