@import '../../../../../assets/styles/variables.scss';

.image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $smoke-white;

  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

.consecutive-image-space {
  margin-left: calc(30px + 0.5rem);
}

.message-box {
  max-width: 75%;
}

.typing-indicator {
  display: flex;
  align-items: center;
  gap: 8px;
  float: left;
  //margin: 8px 0;
  //font-family: Arial, sans-serif;
  padding-left: 5px;

  .typing-text {
    opacity: 0.6;
    animation: pulse-opacity 1.5s infinite;
    font-size: 14px;
  }
}
