* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

@import 'assets/styles/variables.scss';
@import 'app/features/auth/auth.styles.scss';

.validation-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: $error;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $white;

  &:hover {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }

  &:focus, &:active {
    background-color: darken($primary, 15%) !important;
    border-color: darken($primary, 15%);
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    background-color: $primary-light;
    border-color: $primary-light;
  }
}

.btn-outline-primary {
  background-color: transparent;
  border-color: $primary;
  color: $primary;

  &:hover {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }

  &:focus, &:active {
    background-color: darken($primary, 15%) !important;
    border-color: darken($primary, 15%);
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    background-color: transparent;
    border-color: $primary-light;
    color: $primary-light;
  }
}

.pointer {
    cursor: pointer;
}
