@import 'assets/styles/variables.scss';
@import 'app/features/auth/auth.styles.scss';
@import 'app/shared/components/dialogs/dialog.styles.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    //display: hidden;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $lightgray;
    border-radius: 50px;
  }
}

.validation-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: $error;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $white;

  &:hover {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }

  &:focus, &:active {
    background-color: darken($primary, 15%) !important;
    border-color: darken($primary, 15%);
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    background-color: $primary-light;
    border-color: $primary-light;
  }
}

.btn-outline-primary {
  background-color: transparent;
  border-color: $primary;
  color: $primary;

  &:hover {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }

  &:focus, &:active {
    background-color: darken($primary, 15%) !important;
    border-color: darken($primary, 15%);
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    background-color: transparent;
    border-color: $primary-light;
    color: $primary-light;
  }
}

.pointer {
  cursor: pointer;
}

.lightgray {
  color: $lightgray;
}

.smaller {
  font-size: 0.8rem;
}

.image {
  position: relative;

  &.is-online::after {
    content: '';
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 12.5px;
    height: 12.5px;
    background-color: $green;
    border-radius: 50%;
    border: 1px solid $white;
  }
}

.green {
    color: $green;
}
