<div class="d-flex flex-row align-items-center">
  <span class="box border text-center pointer p-1" (click)="setPage(1)">
    <i class="fa-solid fa-angles-left"></i>
  </span>
  <span class="box border text-center pointer p-1" (click)="setPage(options()?.currentPage! - 1)">
    <i class="fa-solid fa-angle-left"></i>
  </span>

  @for (page of pages; track $index)
  {
  <span class="box border text-center pointer p-1"
        [class.active]="page === options()?.currentPage"
        (click)="setPage(page)">
    {{ page }}
  </span>
  }

  <span class="box border text-center pointer p-1" (click)="setPage(options()?.currentPage! + 1)">
    <i class="fa-solid fa-angle-right"></i>
  </span>
  <span class="box border text-center pointer p-1" (click)="setPage(options()?.pageCount)">
    <i class="fa-solid fa-angles-right"></i>
  </span>
</div>
