// Colors

$white: #fff;
$white-50: rgba(255, 255, 255, 0.5);
$black: #373233;
$black-50: #37323380;
$primary: #ff677e;
$primary-light: #ff9aa9;
$secondary: #524a4c;
$secondary-light: #6d6265;
$smoke-white: #eff0f2;
$lightgray: #aeb0b5;
$green: #4daf7c;

$error: #dc3545;

$border-radius: 0.375rem;

$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$box-shadow2: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
